.copy-loan-card
{
  max-width: 450px;
}

.copy-loan-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.copy-loan-full-width {
  width: 100%;
}

.copy-loan-submit-button {
  align-self: auto;
}

.form-field-number {
  min-width: 40;
  width: 40px;
}