.copy-loan-container
{
  max-width: 450px;

  form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  table {
    widows: 100%;
  }

  button {
    align-self: auto;
  }
}

.form-field-number {
  min-width: 40;
  width: 40px;
}